@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Posts";
}
<h3>@ViewData["Title"]</h3>
@if (@ViewBag.Links != null && @ViewBag.Links.Count > 0)
{
    @for (int i = 0; i < @ViewBag.Links.Count; i++)
    {
        int j = i + 1;
        string projectName = @ViewBag.LinkActions[i];
        <a asp-controller="@ViewBag.Controller" asp-action="@ViewBag.Action" asp-route-slug="@projectName">@projectName TESTING</a>
        <!--<button class="link" type="submit" formaction="">Post @j</button>-->

    }
}
else
{
    <h3>There doesn't seem to be anything here!</h3>
}